<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <p>Welcome to <%= title %> Game</p>
    <br>
    <p>This is the ULTIMATE THREEJS GAME!</p>
  </body>
</html>
